body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #e7b573;
    margin: 0;
    padding: 20px;
}

h1 {
    color: #333;
}

.container {
    max-width: 400px;
    margin: 0 auto;
    background: rgb(213, 243, 173);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

input {
    width: 80%;
    padding: 8px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 8px 12px;
    font-size: 14px;
    background-color: #28a745;
    color: rgb(236, 205, 169);
    border: none;
    cursor: pointer;
    margin: 5px 0;
    border-radius: 5px;
}

button:hover {
    background-color: #218838;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background: #c46f6f;
    margin: 5px 0;
    padding: 8px;
    border-radius: 5px;
}